<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/quickbite_logo"
        android:label="Quick Bite"
        android:roundIcon="@drawable/quickbite_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalYearProject"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".OrderActivity"
            android:exported="false" />
        <activity
            android:name=".admin.OrdersAdapter"
            android:exported="false" />
        <activity
            android:name=".admin.AdminOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".MyOffersActivity"
            android:exported="false" />
        <activity
            android:name=".OrderFoodNowActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDXKrtmMVOvzYhO9YDMYIdILpIThd8WW3w" />

        <activity
            android:name=".admin.ViewAllCustomerLocationInMapActivity"
            android:exported="false"
            android:label="@string/title_activity_view_all_customer_location_in_map" />
        <activity
            android:name=".admin.ScanQRCodeActivity"
            android:exported="false" />
        <activity
            android:name=".MyQRCodeActivity"
            android:exported="false" />
        <activity
            android:name=".Restaurant.RestaurantLoginActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminHomeActivity"
            android:exported="false"
            android:theme="@style/showActionBar" />
        <activity
            android:name=".UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryWiseDishActivity"
            android:exported="false" />
        <activity
            android:name=".SetUpNewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ForgetPasswordVerifyOTPActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmRegisterMobileNoActivity"
            android:exported="false" />
        <activity
            android:name=".MyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".VerifyOTPActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:theme="@style/showActionBar" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/showActionBar" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>